body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    background-color: #fcfdfe;
}

#d {
    cursor: pointer;
}

form {
    margin-top: 5%;
    margin-left: -85%;
    color: #306a76;
}

h1 {
    font-size: 2cm;
    width: 60%;
    margin-top: 3%;
    margin-left: 20%;
    background-color: #e7f3f7;
    color: #306a76;
    text-align: center;
    padding: 0.5cm;
    border-style: outset;
    border-color: #d5f1fa;
    font-weight: bolder;
    user-select: none;
}

input {
    width: 3000px;
    height: 100px;
    font-size: 1.5cm;
    background-color: #fff9f9;
    color: #1d3e44;
    border-style: inset;
    border-color: #fff0f0;
}

textarea {
    width: 3000px;
    height: 20vh;
    font-size: 1.5cm;
    color: #1d3e44;
    background-color: #fff9f9;
    border-style: inset;
    border-color: #fff0f0;
    overflow-y: auto;
}

label {
    font-size: 2cm;
}

button {
    margin-top: 3%;
    margin-left: 62%;
    background-color: #f6e3a0;
    padding: 1%;
    color: #306a76;
    font-size: 70px;
}

button:hover {
    color: #306a76;
    font-weight: bold;
    background-color: #f6e3a0;
}