<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand">
    <img src="assets\images\logo_LM.jpeg" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand">LearningMiner</a>
  <button class="navbar-toggler" class="btn btn-danger" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="logout()">
    Cerrar sesión
  </button>
</nav>