body{
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
  }
  
.izquierda{
  background: url(pantallaLR.jpg);
  background-size: cover;
  width: 50%;
  height: 100vh;
}
.derecha{
  background: url(learningMiner.jpg);
  background-size: 45cm 45cm;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 50%;
}

#pantalla-dividida{
  display: flex;
}
.container{
  background-color:#f6e3a0;
  border-radius: 15px;
  padding: 5cm 5cm;
  background-position: center;
  text-decoration: none;
  color:#306a76;
  display: block;
  box-sizing: border-box;
  height: 36.9cm;
  margin-top: 17.1cm;
  margin-left: 19.3cm; 
 
}

h1{
  text-align: center;
  font-size: 2.8cm;
  font-weight: bold;  
}

label{
  font-weight: bold;
  font-size: 1.5cm;
  padding-top: 3cm;
}

input{
  background-color: white;
  width: 100%;
  height: 3cm;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: text;
  float: right;
  resize: both;
  font-size:1.3cm;
}

button{
   background-color:whitesmoke;
   border-radius: 12px;
   margin-top: 6cm;
   margin-left: 4cm;
   padding: 35px 40px;
   text-align: center;
   font-weight: bold;
   text-decoration: none;
   color:#306a76;
   display: block;
   box-sizing: border-box;
   font-size: 50px;
   cursor: pointer;

}
.b:hover{
  background-color:#fff0f0;
}
