<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LearningMiner</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Open source concept mapping tool built with angular">
  <meta name="keywords" content="Pedagogical reading comprehension tool">
  <meta name="author" content="D2M">
  <link rel="formatoVentana" href="main-menu.component.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
<app-navbar></app-navbar>

<section id="pantalla-dividida" *ngIf="userService.isStudent()">

  <div class="izquierda">
    <div class="recomendacion">
      <h1> KEEP IN MIND </h1>
      <p> To create a complete concept map:</p>
      <p> In theory, a concept map should have <b>5 or 6 keywords</b>, and each of them should have around <b>3 related concepts</b>, having a <b>total</b> of between <b>18 and 20 concepts</b>. </p>
      <p> It is also important to highlight the number of concepts at a congnitive level. To improve the long-term concept retention, it is recommended to have <b>3 or 4 keywords</b>. However, this can be improved through conceptual recollection, leaving to remember <b>7</b> long-term concepts.</p>
      <p> In sum, it is recommended to elaborate a concept map using between <b>5 and 7 keywords and between 15 and 20 concepts in total</b>. </p>
    </div>
  </div>

  <div class="derecha">
    <h2>MY CONCEPTUAL MAPS</h2>
    <table>
      <td>
        <tr><a [routerLink]="['/toDoMaps']" class="btn btn-primary">TO DO Maps</a></tr>
        <tr><a [routerLink]="['/doingMaps']" class="btn btn-primary">DOING Maps</a></tr>
        <tr><a [routerLink]="['/doneMaps']" class="btn btn-primary">DONE Maps</a></tr>
      </td>
      <div id="t">
        <label *ngIf="pendingMaps.length == 0">User does not have to-do maps</label>
        <section *ngFor="let map of pendingMaps">
          <li>{{map}}</li>
        </section>
      </div>
      <div id="e">
        <label *ngIf="editingMaps.length == 0">User does not have editing maps</label>
        <section *ngFor="let map of editingMaps">
          <li>{{map}}</li>
        </section>
      </div>
      <div id="d">
        <label *ngIf="doneMaps.length == 0">User does not have done maps</label>
        <section *ngFor="let map of doneMaps">
          <li>{{map}}</li>
        </section>
      </div>
    </table>
  </div>

</section>

<section *ngIf="userService.isTeacher()">

  <h1 id="sa"> SCHEDULED ACTIVITIES </h1>

  <div class="actividades" >
    <label id="tl" *ngIf="activities.length == 0">User does not schedule any activity</label>
    <section *ngFor="let activity of activities">
      <li id="la">{{activity.Title}} Due date: {{activity.dateClose}}</li>
    </section>
  </div>

  <h1 id="w"> What do you want to do today ? </h1>

  <a id="ca" [routerLink]="['/newActivity']" class="btn btn-primary">Create Activity</a>
  <a id="oa" [routerLink]="['/ongoingActivities']" class="btn btn-primary">See Ongoing Activities</a>
  <a id="sca" [routerLink]="['/closedActivities']" class="btn btn-primary">See Closed activities</a>

</section>

</body>

</html>
