<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LearningMiner</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Open source concept mapping tool built with angular">
  <meta name="keywords" content="Pedagogical reading comprehension tool">
  <meta name="author" content="D2M">
  <link rel="formatoVentana" href="list-maps.component.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
<app-navbar></app-navbar>
<h1>Main menu</h1>
<div *ngIf="userService.isStudent()">
  <a id="e" [routerLink]="['/list']" class="btn btn-primary">Editing Maps</a>
  <a id="f" [routerLink]="['/toDoMaps']" class="btn btn-primary">To do Maps</a>
  <a id="g" [routerLink]="['/doneMaps']" class="btn btn-primary">Done Maps</a>
</div>

<div *ngIf="userService.isTeacher()">
  <a class="boton" [routerLink]="['/list']" class="btn btn-primary">Ongoing Maps</a>
  <a class="f" [routerLink]="['/toDoMaps']" class="btn btn-primary">To do Maps</a>
  <a class="g" [routerLink]="['/doneMaps']" class="btn btn-primary">Done Maps</a>
</div>
</body>

</html>
