body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
  background: url(lm.jpg);
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 2cm;
  width: 60%;
  margin-top: 3%;
  margin-left: 20%;
  background-color: #e7f3f7;
  color: #306a76;
  text-align: center;
  padding: 0.5cm;
  border-style: outset;
  border-color: #d5f1fa;
  font-weight: bolder;
  user-select: none;
}

table {
  width: 60%;
  margin-top: 2%;
  margin-left: 20%;
  border-collapse: collapse;
  background-color: #fff0f0;
  border-style: solid;
  border-color: #fde7e7;
  overflow: auto;
}

h2 {
  width: 40%;
  margin-left: 3cm;
  margin-right: 3cm;
  font-size: 1.5cm;
  font-weight: bolder;
}

tr td {
  color: #306a76;
  padding: 8px;
  width: 40%;
}

#e {
  cursor: pointer;
  background-color: #f6e3a0;
  padding: 0.5cm 1cm;
  margin-left: 40cm;
  font-size: 1.3cm;
  color: #306a76;
}

#f {
  cursor: pointer;
  background-color: #f6e3a0;
  padding: 0.5cm 1cm;
  margin-left: 40cm;
  font-size: 1.3cm;
  color: #306a76;
}

#g {
  cursor: pointer;
  background-color: #f6e3a0;
  padding: 0.5cm 1cm;
  margin-left: 40cm;
  font-size: 1.3cm;
  color: #306a76;
}

#d {
  cursor: pointer;
  background-color: #f6e3a0;
  padding: 0.5cm 1cm;
  margin-left: 4cm;
  font-size: 1.3cm;
}

#e:hover {
  font-weight: bolder;
}

#f:hover {
  font-weight: bolder;
}

#g:hover {
  font-weight: bolder;
}

#d:hover {
  font-weight: bolder;
}

tr:hover {
  background-color: #e7d8d0;
}
