body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    background-color: #fcfdfe;
    color: #306a76;
}

#pantalla-dividida {
    display: flex;
}

.izquierda {
    height: 90vh;
    width: 50%;
}

.recomendacion {
    margin: 8%;
    height: 73vh;
    background-color: #f6e8da;
    border-style: ridge;
    border-color: #eee8eb;
}

h1 {
    font-family: "Lora";
    font-size: 125px;
    padding-top: 3%;
    padding-bottom: 5%;
    color: #306a76;
    font-weight: bold;
    text-align: center;
    user-select: none;
}

p {
    font-size: 60px;
    color: #1d3e44;
    text-align: justify;
    padding-left: 4.5%;
    padding-right: 4.5%;
    padding-bottom: 3.5%;
}

h2 {
    font-family: "Lora";
    font-size: 95px;
    width: 150%;
    margin-top: 8vh;
    margin-left: 9vh;
    background-color: #e7f3f7;
    color: #306a76;
    text-align: center;
    padding: 0.5cm;
    border-style: outset;
    border-color: #eee8eb;
    font-weight: bolder;
    user-select: none;
}

table {
    width: 126%;
    height: 61vh;
    margin-top: 10%;
    margin-left: 30%;
    border-style: ridge;
    border-color: #f6e8da;
}

tr a {
    color: #306a76;
    padding: 8px;
    font-size: 70px;
    background-color: #f6e3a0;
    border-radius: 12px;
    margin: 38%;
    width: 120%;
}

tr a:hover {
    font-weight: bolder;
}

#t {
    width: 16%;
    height: 15%;
    position: absolute;
    left: 74%;
    top: 30%;
    z-index: 2;
    font-size: 1.2cm;
    border-style: ridge;
    border-color: #f6e8da;
    color: #1d3e44;
    overflow-y: auto;
    user-select: none;
}

#e {
    width: 16%;
    height: 15%;
    position: absolute;
    left: 74%;
    top: 50%;
    z-index: 2;
    font-size: 1.2cm;
    border-style: ridge;
    border-color: #f6e8da;
    color: #1d3e44;
    overflow-y: auto;
    user-select: none;
}

#d {
    width: 16%;
    height: 15%;
    position: absolute;
    left: 74%;
    top: 70%;
    z-index: 2;
    font-size: 1.2cm;
    border-style: ridge;
    border-color: #f6e8da;
    color: #1d3e44;
    overflow-y: auto;
    user-select: none;
}

li {
    list-style-type: circle;
    padding-left: 2%;
}