<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LearningMiner</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Open source concept mapping tool built with angular">
  <meta name="keywords" content="Pedagogical reading comprehension tool">
  <meta name="author" content="D2M">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
  <app-navbar></app-navbar>
  <p-menubar id="menubar" [model]='menu' ></p-menubar>
</body>

<cm-concept-map></cm-concept-map>
<div *ngIf="isEmpty" class="help-text" style="left: 50%; top: 50%; transform: translate(-50%, -50%);">Double click to create a concept</div>

<p-dialog header="Import" [(visible)]="importTool.visible" modal="true" dismissableMask="true" responsive="true">
  <span>Select a concept map.</span>
  <input type="file" title="Open" accept=".json" (change)='importTool.chooseFile($event)'>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
      <button type="button" pButton (click)="importTool.visible=false" label="Cancel"></button>
      <button type="button" pButton (click)="importTool.loadFile()" [disabled]="importTool.disabled()" label="Open"></button>
    </div>
  </p-footer>
</p-dialog>
</html>
