<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Concept Map</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Open source concept mapping tool built with angular">
    <meta name="keywords" content="Angular, Concept map, Mind map, single page application">
    <meta name="author" content="Cansn0w">
    <link rel="formatoVentana" href="menu-inicio.component.css">
  </head>

  <body>
    <section id="pantalla-dividida">
      <div class="izquierda">
        <a routerLink="/register" class="BLinkR"> REGISTRO</a>
        <h1><span class="letra"> Learning</span></h1>
        
      </div>
      <div class="derecha"> 
        <a routerLink="/Login" class="BLinkL" > INGRESAR</a>
        
        <h2><span class="letra">Miner</span></h2>
       </div>
    </section>
  </body>
    
</html>
 