<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LearningMiner</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Open source concept mapping tool built with angular">
  <meta name="keywords" content="Pedagogical reading comprehension tool">
  <meta name="author" content="D2M">
  <link rel="formatoVentana" href="activity-detail.component.css">
  <link
    href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
  <app-navbar></app-navbar>

  <h1>Activity details</h1>

  <div *ngIf="activity">

    <h2> Title: </h2>
    <div id ="t"> {{activity.Title}} </div>

    <h3> Author:</h3>
    <div id = "a"> {{activity.authors}} </div>

    <h4> Source: </h4>
    <div id = "db" > {{activity.database}} </div>

    <h5> Keywords: </h5>

    <div id="k" *ngIf="service.isStudent()">
      <section  *ngFor="let keyword of keywordsArray; let i = index"  >
        <li >{{keyword}}</li>
      </section>
    </div>

    <div id="kt" *ngIf="service.isTeacher()">
      <table *ngFor="let keyword of keywordsArray; let i = index" >
        <tr>
          <td><label>{{keyword}}</label></td>
          <td> <button id="r" *ngIf="service.isTeacher()" class="remove" (click)="removeKeyword(i)">Remove</button></td>
        </tr>
      </table>
    </div>

    <h6 *ngIf="service.isTeacher()">Type a keyword</h6>

    <input type="text" [(ngModel)]="keyword" *ngIf="service.isTeacher()"/>

    <button id="add" class="btn" (click)="addKeyword()" *ngIf="service.isTeacher()">Add</button>

    <div id="ed"> <b>End Date: </b>{{activity.dateClose}}</div>

    <button class="start" *ngIf="service.isStudent()" (click)="click(activity.Title, activity.baseId)"> Start to Create </button>

    <button class="save" (click)="updateActivity()" *ngIf="service.isTeacher()">Update activity</button>

    <button class="optionsa" *ngIf="service.isTeacher()" (click)="goBaseMap()">View base map</button>

    <button class="optionsb" routerLink="/ongoingActivities" *ngIf="service.isTeacher()">View ongoing activities</button>

  </div>
</body>
