<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LearningMiner</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Open source concept mapping tool built with angular">
  <meta name="keywords" content="Pedagogical reading comprehension tool">
  <meta name="author" content="D2M">
  <link rel="formatoVentana" href="list-maps.component.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
<app-navbar></app-navbar>
<h1>Conceptual Maps</h1>
<label *ngIf="maps.length == 0">User does not have done maps</label>
<div *ngIf="maps.length > 0">
  <table *ngFor="let map of maps">
    <tr>
      <td><h2>{{map.title}}</h2></td>
      <td><a id="e" class="btn btn-primary" [routerLink]="['/groupMaps', map.baseId]">Group maps</a></td>
      <td><a id="f" class="btn btn-primary" [routerLink]="['/group-report', map.baseId]">Group report</a></td>
      <td><a id="d" [routerLink]="['/individual-report', map.baseId]" class="btn btn-primary">Individual Report</a>
      </td>
    </tr>

  </table>
</div>
</body>
</html>

