<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>LearningMiner</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Open source concept mapping tool built with angular">
  <meta name="keywords" content="Pedagogical reading comprehension tool">
  <meta name="author" content="D2M">
  <link rel="formatoVentana" href="menu-inicio.component.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
<section id="opciones">
  <div class="derecha">
    <a routerLink="/register" class="br"> SIGN IN </a>
    <a routerLink="/login" class="bi"> LOG IN </a>
  </div>
</section>
</body>

</html>
