<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>LearningMiner</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Open source concept mapping tool built with angular">
  <meta name="keywords" content="Pedagogical reading comprehension tool">
  <meta name="author" content="D2M">
  <link rel="formatoVentana" href="register.component.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap" rel="stylesheet">
</head>

<body>
  <section id="pantalla-dividida">
    <div class="izquierda">
      <div class="container">
        <h1 style="text-align: center;"> Sign In </h1>
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" formControlName="name" class="form-control" required/>
          </div>
          <div class="form-group">
            <label for="lastname">Last Name</label>
            <input type="text" formControlName="lastname" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" formControlName="email" class="form-control" required />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" required />
          </div>
          <div>
            <label for="rol">Rol</label>
            <div class="caja">
              <select class="form-control" formControlName="rol" required>
                <option value="">--Select--</option>
                <option value="1">Student</option>
                <option value="2">Teacher</option>
              </select>
            </div>
          </div>
          <br />
          <div class="form-group" style="text-align: center;">
            <button class="btn btn-primary" class="b">
              <span class="spinner-border spinner-border-sm mr-1"></span>
              Sign In
            </button>
          </div>
        </form>

      </div>
    </div>
    <div class="derecha"> </div>
  </section>
</body>

</html>
